@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
body {
  background: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}
.navbar {
  background: #ffa600;
}
.wrapper {
  width: 100%;
  margin: 30px auto;
  color: #000;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
#j {
  font-size: 2.5em;
  color: rgb(63,63,64);
}
h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
}
#seconds, #tens,#minit {
  font-size: 2em;
}
button {
  background: #ffa600;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
.button-35 {
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  position: relative;
 margin-top: 20px;
  align-items: center;
  background-color: #fff;
  border-radius: 50vh;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-35:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}